<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
{{!-- Terms and condition  --}}
    <h2>Congrats you are a verified user as you reached this page . Great Work!!</h2>
    {{>footer}}
</body>
</html>